@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Narnia<br />
    Horth Forest, UA 48351<br />
    <abbr title="Контактний телефон">т:</abbr>
    937.99.92
</address>

<address>
    <strong>Допомога:</strong>   <a href="mailto:me@gmail.com">me@gmail.com</a><br />
</address>