@{
    ViewBag.Title = "Головна";
}

<div class="jumbotron">
    <h1>Code Verifier</h1>
    <p class="lead">Code Verifier - сервіс, який допоможе провести перевірку вашого програмного забезпечення</p>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 align="center" class="panel-title">Можливості сервісу</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Список завдань</h2>
        <p>
            Тут ви можете ви можете знайти різноманітні завдання до душі 
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Перейти до списку", "Index", "Problems") ></a></p>
    </div>
    <div class="col-md-4">
        <h2>Перевірити</h2>
        <p>Відправте розв'язок та система все зробить за вас</p>
        <p><a class="btn btn-default" @Html.ActionLink("Здати завдання", "Create", "ProblemSolutions")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Opensource</h2>
        <p>Проект з відкритим програмним кодом, тобто його можна вільно копіювати та розповсюджувати</p>
        <p><a class="btn btn-default" href="https://github.com/syhestkiy/CodeVerifier/">Отримати код</a></p>    </div>
</div>